.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 167, 145);
  box-shadow: 1px 1px 3px grey;
}

.logo-title {
  display: inline-flex;
}

#trybewarts-header-title {
  color: white;
}