@font-face {
  font-family: BluuNextTitling;
  src: url('./assets/BluuNext-Titling.otf');
}

@font-face {
  font-family: BluuNextBold;
  src: url('./assets/BluuNext-Bold.otf');
}

* , *:after , *:before {
  margin: 0;
  padding: 0;
}

body {
  font-family: BluuNextTitling, serif;
}

h1 {
  font-family: BluuNextBold, serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 167, 145);
  box-shadow: 1px 1px 3px grey;
  padding: 5px 0;
}

.logo-title {
  display: inline-flex;
}

#trybewarts-header-title {
  color: white;
}

#main-container {
  width: 100%;
  min-height: calc(100vh - 160px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#fullscreen-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#evaluation-form {
  display: flex;
  flex-flow: column nowrap;
  width: 675px;
  background: rgba(39, 39, 39, 0.7);
  border-radius: 1.3rem;
}

.radios {
  color: white;
}

footer {
  background-color: rgb(39, 39, 39);
  height: 100px;
  text-align: center;
  color: rgb(235, 235, 235);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@media ( max-width : 675px ) {

  #evaluation-form {
    width: 100%;
    padding: 1rem;
  }

  #trybewarts-forms-logo {
    width: 80%;
  }

}

